body {
    background-color: azure;
    color: white;
    /* get Google Font */
    font-family: Arial;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 0;
}

.task-list-picker {
    background-color: deepskyblue;
    height: 100vh;
    width: 300px;
}

.task-picker {
    background-color: coral;
    height: 100vh;
    width: 300px;
}
