body {
    background-color: azure;
    color: white;
    /* get Google Font */
    font-family: Arial;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.task-list-picker {
    background-color: deepskyblue;
    padding: 2em;
    height: 100vh;
}

.task-picker {
    background-color: coral;
    padding: 1em;
    height: 100vh;
}
